.Login-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    display: grid;
    place-items: center;
}

.Login-form-container{
    height: 50ch;
    width: 50ch;
    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.Login-form-container form{
    display: flex;
    flex-direction: column;
}

.Login-form-container h2{
    margin: 3rem 0 3rem 0;
    text-align: center;
}

.Login-form-container input{
    height: 5ch;
    width: 45ch;
    border-radius: 5px;
    padding: 0 2ch;
    outline: none;
    background-color: aliceblue;
    color: black;
    margin: 2ch 0;
    border: none;
}

.Login-form-container label{
    margin-bottom: -10px;
}

.forgotPassword{
    font-size: small;
    padding: 0;
}

.Login-form-container input[type="submit"]{
    background-color: rgb(92, 94, 94);
    margin: 1rem 0 0.5rem 0;
} 

.loginHref{
    font-size: small;
    padding: 0;
}
