.Navbar{
    width: 100%;
    height: 100px;
    background-color: #074799;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
  top: 0;
}

.NavbarLink{
    width: 100%;
    display: flex;
    padding: 0 3rem;
    gap: 2rem;
    align-items: center;
}

.Logo{
    margin-right: auto;
    width: 90px;
    aspect-ratio: 1/1;
    padding: 0;
}

.Logo:hover{
    background-color: transparent;
}

a{
    text-decoration: none;
    color:  #000000;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.NavbarLink a:hover{
    color: blanchedalmond;
}

.loginButton{
    background-color:#E1FFBB;
    border-radius: 5px;
    width: 7rem;
    text-align: center;
}